<ion-content>
  <div class="main">
    <ion-icon name="arrow-back-outline" class="arrowback" (click)='goBack()'></ion-icon>

    <div class="container">
    <p class="txt_vestes"> Pantalon </p>
<div class="categorie">
  <p class="active">Meilleur résultat</p> 
  <p>Levis</p>
  <p>Zara</p>
  
</div>


<ion-grid>
  <ion-row>
<ion-card [routerLink]="['/veste-chic-produit']">
  <ion-card-content>
    <img src="../../assets/img/pantalonsiete.jpg"/>
    <ion-card-subtitle>  Pantalon</ion-card-subtitle>
    <ion-card-subtitle class="prix"> 19,99€  </ion-card-subtitle>
    <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <img src="../../assets/img/pantalonseis.jpg"/>
    <ion-card-subtitle> Pantalon</ion-card-subtitle>
    <ion-card-subtitle class="prix"> 39,99€ </ion-card-subtitle>
    <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>
  </ion-card-content>
</ion-card>
</ion-row>
<ion-row>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/pantalonocho.jpg"/>
      <ion-card-subtitle>  Pantalon</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 79,99€ </ion-card-subtitle>
      <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/pantaloncinco.jpg"/>
      <ion-card-subtitle> Pantalon</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 44,99€ </ion-card-subtitle>
      <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>

    </ion-card-content>
  </ion-card>
  </ion-row>
<ion-row>
  <div class="hr"></div>
  <div class="hrs"></div>
</ion-row>

<ion-row>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/pantonuno.jpg"/>
      <ion-card-subtitle>  Pantalon</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 24,99€ </ion-card-subtitle>
      <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/pantodos.jpg"/>
      <ion-card-subtitle> Pantalon</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 27,99€ </ion-card-subtitle>
      <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>

    </ion-card-content>
  </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-content>
        <img src="../../assets/img/pantotres.jpg"/>
        <ion-card-subtitle>  Pantalon</ion-card-subtitle>
        <ion-card-subtitle class="prix"> 40,99€ </ion-card-subtitle>
        <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>

      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        <img src="../../assets/img/pantoquatro.jpg"/>
        <ion-card-subtitle> Pantalon</ion-card-subtitle>
        <ion-card-subtitle class="prix"> 34,99€ </ion-card-subtitle>
        <ion-card-subtitle class="note">   <ion-icon name="star"></ion-icon>  <p> 4,9 </p> </ion-card-subtitle>

      </ion-card-content>
    </ion-card>
    </ion-row>
 


</ion-grid>


</div>
</div>  
</ion-content>
