<ion-content>
<div class="main">
  <div class="container">
    <img src="../../assets/img/MBM-logo-white.png" class="logo" />
    <img src="../../assets/img/kid.png" class="PP"/>
    <p class="name">Eustass KIDD</p>
    <p class="info">Info perso</p>
    <p class="gout">Goûts</p>
    <div class="hr"></div>
<ion-grid>
    <div class="background_info">
      <ion-row>
      <p class="email">Email</p>
    </ion-row>
    <ion-row>
      <p class="email_txt"> abouquety1@gmail.com</p>
    </ion-row>
      <ion-row>
      <p class="modifier_un"> Modifier </p>
    </ion-row>
    </div>
    <ion-row>
      <div class="hr_deux"></div>
    </ion-row>
  </ion-grid>

  </div>
</div>
</ion-content>
