.main{
    background: lightgray;
  height: 100%;
  width: 100%;
  display: table;

  .identifiant_bloc{
    background: white;
}
}
p{
    color: black;
}
.pinceau_un{
    color: #564D85;
    margin-left: 224px;
    /* width: 121%; */
    width: 65px;
    margin-top: 9px;
}
p.Nom{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

p.email{
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
}

p.modifier{
    margin-top: 0px;
    color: #564D85;
    text-align: center;
    font-size: 12px;
}

ion-icon {
    color: #515C6F;
  }

  ion-buttons ion-button ion-icon.panier {
    margin-top: -13px;
    margin-right: 10px;
  }

  ion-buttons ion-button ion-icon.accueil {
    margin-top: -13px;
  }

  ion-buttons ion-button ion-label.accueil {
    margin-left: -2px;
}

ion-label.active{
  color: #250A8A;
}

ion-icon.active{
  color: #250A8A;
}

ion-title ion-buttons ion-button ion-icon {
  margin-top: -13px;
}

ion-label {
  color: grey;
  position: absolute;
  top: 74%;
  font-size: 7px;
}

ion-title{
  margin-left: 53px;
}

ion-title.titre_tittle{
    font-size: 12px;
    margin-left: 87px;

}

.hr{
    border-bottom: 1px solid lightgrey;
        margin-top: 0px;
        width: 98%;
}
p.mon_adresse{
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.adresse_bloc{
    background: white;
    margin-top: 5px;
    margin-left: 24px;
    width: 85%;
}

p.nomdos{
    font-weight: bold;
    font-size: 18px;
    margin-left: 12px;
    margin-bottom: 0px;
}

.adresse_un{
    
    font-size: 14px;
    color: #515C6F;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-left: 17px;

}


.adresse_deux{
    margin-top: 7px;
    font-size: 14px;
    color: #515C6F;
    margin-bottom: 0px;
    margin-left: 17px;

}

.pays{
    margin-top: 7px;
    font-size: 14px;
    color: #515C6F;
    margin-left: 17px;
}

.deco_bloc{
    background: black;
    width: 100%;
    color: white;
    margin-top: 34px;
}

.pinceau_deux{
    color: #564D85;
    margin-top: 10px;
}

.btn{
    color: white;
    background: black;
    margin-left: 85px;
}