<ion-header>
    <ion-toolbar>
        <!-- Button back -->
        
        <ion-title class="titre_tittle">MON PROFIL</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="main">
      <div class="identifiant_bloc">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-icon class="pinceau_un" name="pencil-outline"></ion-icon>
                </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
             <p class="Nom">  <b> James rodriguez </b>  </p> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="email">  Jrodriguez@gmail.com  </p>
            </ion-col>
          </ion-row>
            <ion-row>
                <ion-col>
                    <div class="hr"></div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p class="modifier">  <b> MODIFIER MON MOT DE PASSE </b>  </p>
                </ion-col>
            </ion-row>
        </ion-grid>
      </div>
      <ion-grid>
          <ion-row>
              <p class="mon_adresse"> MON ADRESSE</p>
          </ion-row>
          <ion-row>
              <div class="adresse_bloc">
                <ion-row>
                    <ion-col>
                     <p class="nomdos">  <b> James rodriguez </b>  </p> 
                    </ion-col>
                    <ion-row>
                        <ion-icon class="pinceau_deux" name="pencil-outline"></ion-icon>
                    </ion-row>
                  </ion-row>
                  <ion-row>
                    <p class="adresse_un">234 Avenue des Lilas</p>
                  </ion-row>
                  <ion-row>
                    <p class="adresse_deux">Moissy-Cramayel, 77550 </p>
                  </ion-row>
                  <ion-row>
                    <p class="pays">France</p>
                  </ion-row>
              </div>
          </ion-row>
      </ion-grid>
      <div class="deco_bloc">
        <button class="btn" type="submit" fill="solid" expand="full" [routerLink]="['/login']">SE DÉCONNECTER</button>  
      </div>
  </div>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar class="footer">
        <!-- <ion-title>
        Click to Add Text
      </ion-title> -->
        <ion-buttons slot="start">
            <ion-button [routerLink]="['/accueil-chic']">
                <ion-icon slot="start" name="home" class="accueil"></ion-icon>
                <ion-label class="accueil"> Home</ion-label>
            </ion-button>
        </ion-buttons>



        <ion-buttons slot="end">
            <ion-button [routerLink]="['/panier']">
                <ion-icon slot="end" name="cart" class="panier"></ion-icon>
                <ion-label> panier</ion-label>
            </ion-button>
        </ion-buttons>

        <ion-title>
            <ion-buttons>
                <ion-button>
                    <ion-icon name="person" class="active"></ion-icon>
                    <ion-label class="active"> Profile</ion-label>
                </ion-button>
            </ion-buttons>
        </ion-title>

    </ion-toolbar>
</ion-footer>