<ion-content>
  <div class="main">
    <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
    <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>

    <p> Comment vous habillez-vous pour aller travailler ?</p>
    <ion-grid>
      <ion-radio-group>
      <ion-row>
        <ion-col size="6"> <img src="../../assets/img/Décontracter.jpg" class="img-style" /></ion-col>
        <ion-col size="6"> <img src="../../assets/img/Décontracter.jpg"class="img-style" /></ion-col>
      </ion-row>
      <ion-row>
                <ion-col size="6"> <ion-radio></ion-radio> </ion-col>
                <ion-col size="6">  <ion-radio></ion-radio> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> <img src="../../assets/img/Décontracter.jpg" class="img-style" /></ion-col>
        <ion-col size="6"> <img src="../../assets/img/Décontracter.jpg" class="img-style" /></ion-col>
      </ion-row>
      <ion-row>
                <ion-col size="6"> <ion-radio></ion-radio> </ion-col>
                <ion-col size="6">  <ion-radio></ion-radio> </ion-col>
      </ion-row>
      </ion-radio-group>
    </ion-grid>
    <button class="btn" [routerLink]="['/register-cinq']">Continuer</button>

</div>  
</ion-content>