<ion-content fullscreen>
  <div class="container">
      <ion-toolbar>
          <!-- Button back -->
          <ion-buttons slot="start">
              <ion-back-button defaultHref="landing"></ion-back-button>
          </ion-buttons>
          <ion-title>Quizz - Fin</ion-title>
      </ion-toolbar>
      <div class="time-line">
          <div class="time-line__wrapper">
              <span class="time-line__span ">1</span>
              <span class="time-line__span_text">Infos personnelles</span>
          </div>
          <hr class="time-line__hr">
          <div class="time-line__wrapper">
              <span class="time-line__span active">2</span>
              <span class="time-line__span_text">Quizz</span>
          </div>
          <hr class="time-line__hr">
          <div class="time-line__wrapper">
              <span class="time-line__span">3</span>
              <span class="time-line__span_text">Fin</span>
          </div>
      </div>
      <ion-label>  Avec quelle coupe vous sentez-vous le plus à l'aise ? 
      </ion-label>
      <ion-grid> 
        <ion-row>
          <ion-list>
            <ion-radio-group>
              <ion-list-header>
                <ion-label>
                  Haut
                </ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Près du corps</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Droit</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Ample</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
            </ion-radio-group>
            </ion-list>
            <ion-list>
              <ion-radio-group>
                <ion-list-header>
                  <ion-label>
                    Bas
                  </ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Près du corps</ion-label>
                  <ion-radio></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>Droit</ion-label>
                  <ion-radio value="duesenberg"></ion-radio>
                </ion-item>
  
                <ion-item>
                  <ion-label>Ample</ion-label>
                  <ion-radio></ion-radio>
                </ion-item>
              </ion-radio-group>
              </ion-list>
        </ion-row>
        <ion-row>
          <ion-list>
            <ion-list-header>
              <ion-label>
                Quelle taille portez-vous normalement ?
              </ion-label>
            </ion-list-header>
          
            <ion-item>
              <ion-label>Chemise, T-shirt, Sweat</ion-label>
              <ion-select placeholder="Taille">
                <ion-select-option value="S">S</ion-select-option>
                <ion-select-option value="M">M</ion-select-option>
                <ion-select-option value="L">L</ion-select-option>
                <ion-select-option value="XL">XL</ion-select-option>
              </ion-select>
            </ion-item>
          
            <ion-item>
              <ion-label>Jeans, pantalon, short</ion-label>
              <ion-select placeholder="Taille">
                <ion-select-option value="S">S</ion-select-option>
                <ion-select-option value="M">M</ion-select-option>
                <ion-select-option value="L">L</ion-select-option>
                <ion-select-option value="XL">XL</ion-select-option>
              </ion-select>
            </ion-item>
          
          </ion-list>
        </ion-row>
        <ion-row>
          <ion-label class="mensuration">Et vos mensurations ?</ion-label>
        </ion-row>
        <ion-row>
          <ion-item lines="full">
            <ion-label position="floating">Taille en cm</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Poids en kg</ion-label>
            <ion-input type="text" required></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
          <ion-button type="submit" fill="solid" expand="full" [routerLink]="['/register5']">CONTINUER</ion-button>
  </div>
</ion-content>