<ion-content>
  <div class="main">
    <ion-icon name="arrow-back-outline" class="arrowback" (click)='goBack()'></ion-icon>

    <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
    <div class="time-line">
      <div class="time-line__wrapper">
          <span class="time-line__span active">1</span>
          <span class="time-line__span_text">Infos</span>
      </div>
      <hr class="time-line__hr">
      <div class="time-line__wrapper">
          <span class="time-line__span ">2</span>
          <span class="time-line__span_text">Cible</span>
      </div>
      <hr class="time-line__hr">
      <div class="time-line__wrapper">
          <span class="time-line__span">3</span>
          <span class="time-line__span_text">Fin</span>
      </div>
  </div>
    <ion-input placeholder="Nom de la société"> </ion-input>
    <ion-input placeholder="Nom de la campagne"> </ion-input>
    <ion-input placeholder="Mot de passe" type="password"> </ion-input>
    <ion-input placeholder="Confirmation mot de passe" type="password"> </ion-input>

    <button class="btn" [routerLink]="['/regie-p-registerdeux']">Continuer</button>

  </div>
</ion-content>