<ion-header>
    <ion-toolbar>
        <!-- Button back -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="register"></ion-back-button>
        </ion-buttons>
        <ion-title>Quizz</ion-title>
    </ion-toolbar>
</ion-header>
<!--[scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()"-->
<ion-content>
    <div class="wrapper">
        <!-- <div class="wrap__img">
            <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
        </div> -->
        <div class="time-line">
            <div class="time-line__wrapper">
                <span class="time-line__span">1</span>
                <span class="time-line__span_text">Infos personnelles</span>
            </div>
            <hr class="time-line__hr">
            <div class="time-line__wrapper">
                <span class="time-line__span active">2</span>
                <span class="time-line__span_text">Quizz</span>
            </div>
            <hr class="time-line__hr">
            <div class="time-line__wrapper">
                <span class="time-line__span">3</span>
                <span class="time-line__span_text">Fin</span>
            </div>
        </div>
       <ion-grid>
            <p>Comment vous habillez vous pendant votre temps libre ?</p>
            <ion-radio-group>
                <ion-row>
                    <ion-col size="6"> <img src="../../assets/img/joggo.jpg" class="img-style" /></ion-col>
                    <ion-col size="6"> <img src="../../assets/img/testo.jpg" class="img-style" /></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">
                        <ion-radio></ion-radio>
                    </ion-col>
                    <ion-col size="6">
                        <ion-radio></ion-radio>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6"> <img src="../../assets/img/sten.jpg" class="img-style" /></ion-col>
                    <ion-col size="6"> <img src="../../assets/img/ahaha.jpg" class="img-style" /></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-radio></ion-radio>
                    </ion-col>
                    <ion-col size="6">
                        <ion-radio></ion-radio>
                    </ion-col>
                </ion-row>
            </ion-radio-group>
        </ion-grid>
        <button class="btn" (click)='goRegister2()'>Continuer</button>
    </div>
 
</ion-content>