<ion-content fullscreen>
    <div class="container">
        <ion-slides>

            <ion-slide>
              <div class="slide">
                <img src="../../assets/img/slideun.png"/>
                <h2>Bienvenue</h2>
                <p> Votre <b>boutique de vêtement personalisée </b> pour homme selon vos goûts.</p>
                <p [routerLink]="['/login']" class="connexion"> Dèja un compte ? <b> connectez-vous ! </b> </p>
              </div>
            </ion-slide>
    
            <ion-slide>
              <img src="../../assets/img/slidedeux.png"/>
              <h2>Comment ça marche?</h2>
              <p><b>A l'inscription</b>, remplissez un questionnaire de goût, vos mensurations, pour qu'on puisse établir votre profil et vous proposez des vêtements en adéquation de vos réponses.</p>
              <p [routerLink]="['/login']" class="connexion"> Dèja un compte ? <b> connectez-vous ! </b> </p>
            </ion-slide>
    
            <ion-slide>
              <img src="../../assets/img/slidetrois.png"/>
              <h2>Prêt à commencer ?</h2>
              <ion-button fill="clear" [routerLink]="['/register']" >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
              <p [routerLink]="['/login']" class="connexion"> Dèja un compte ? <b> connectez-vous ! </b> </p>
            </ion-slide>
    
          </ion-slides>

    </div>
</ion-content>