<ion-header>
    <ion-toolbar>
        <!-- Button back -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="landing"></ion-back-button>
        </ion-buttons>
        <ion-title>Mot de passe oublié</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="wrapper">
        <div class="wrap__img">
            <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
        </div>
        <form id="ngForm" class="lost__mdp__form" (ngSubmit)="lostMdp(form)" method="post">
            <p>Réinitialiser le mot de passe</p>
            <div class="wrapper_item">
                <ion-item class="">
                    <ion-label class="login__label" position="floating">Email</ion-label>
                    <ion-input class="login__input" ngModel type="email" name="email"></ion-input>
                </ion-item>
            </div>

            <!--shape="round"-->
            <div class="wrapper__btn">
                <ion-button type="submit" fill="solid" expand="full">Envoyer</ion-button>
            </div>
        </form>
    </div>
</ion-content>