
<ion-content>
  <div class="main">
    <div class="detail_vetement">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="paiement"> Paiement</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <p class=" livraison">Adresse de livraison</p>
            </ion-row>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <p class="nom">James Rodriguez</p>
        </ion-row>
        <ion-row>
          <p class="adresse_un">234 Avenue des Lilas</p>
        </ion-row>
        <ion-row>
          <p class="adresse_deux">Moissy-Cramayel, 77550 </p>
        </ion-row>
        <ion-row>
          <p class="pays">France</p>
        </ion-row>
        
       
      </ion-grid>
    </div>

    <div class="detail_produit">
      <ion-grid>
      <ion-row>
          <p class="methode_paie">Méthode de paiement</p>
        </ion-row>
        <ion-row>
          <p class="carte_bleu"> Master Card fini par  **00 </p>
          <ion-icon name="card" class="img_carte"></ion-icon>
        </ion-row>
      </ion-grid>
    </div>
<div class="slide_plus">
  <ion-grid>
    <ion-row>
      <p class="item">Item(s)</p>
    </ion-row>

    <ion-row>
      <ion-col size="3">
      <div class="background_pr"> <img class="img_produit" src="../../assets/img/vesteuno.jpg"> </div>
    </ion-col>
    <ion-col>
      <p class="type_pr"> Veste</p>
    </ion-col>
    </ion-row>
    <ion-row>
        <p class="taille_pr"> M - Gris</p>
    
    </ion-row>
    <ion-row>
      
        <p class="prix_pr"> 39.99€ </p>
   
    </ion-row>

    <div class="hr_trois"></div>
       
    <p class="total"> Total : </p>

    <p class="prix_total">39.99€</p>
    <p class="livraison_gratuit">Livraison gratuite</p>
    
    <button class="btn" [routerLink]="['/paiement-valide']"> Paiement </button>

  
      
    
  </ion-grid>
</div>

</div>
</ion-content>
