.main{
    background: lightgray;
    width: 100%;
    display: table;

    .detail_vetement{
        background: white;
    }

    .detail_produit{
        background: white;
        margin-top: 5px;
    }

    .slide_plus{
        background: white;
        margin-top: 5px;   
    }
}
.paiement{
    font-weight: bold;
    color: #515C6F;
    margin-top: 40px;
    margin-bottom: 0px;
}

.livraison{
    color: #515C6F;
    opacity: 0.5;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.nom{
    font-size: 14px;
    color: #515C6F;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 3px;
}

.adresse_un{
    
    font-size: 14px;
    color: #515C6F;
    margin-top: 7px;
    margin-bottom: 0px;
}


.adresse_deux{
    margin-top: 7px;
    font-size: 14px;
    color: #515C6F;
    margin-bottom: 0px;

}

.pays{
    margin-top: 7px;
    font-size: 14px;
    color: #515C6F;
}


.methode_paie{
    color: #515C6F;
    opacity: 0.5;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .carte_bleu{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 47px;
    color: #515C6F;
    font-weight: bold;
  }

.img_carte{
    top: 44%;
    position: absolute;
    left: 8%;
    color: #515C6F;
}
.item{
    margin-left: 10px;
    font-size: 11px;
    color: #515C6F;
    opacity: 0.5;
}

.type_pr{
    margin-top: 0px;
    color: #515C6F;
    font-size: 14px;
    font-weight: bold;
}

.taille_pr{
    color: #515C6F;
    font-size: 12px;
    position: absolute;
    left: 29%;
    top: 62%;

}

.couleur_pr{
    
    color: #515C6F;
    font-size: 12px;
}


.prix_pr{
    color: #515C6F;
    font-size: 12px;
    position: absolute;
    left: 29%;
    top: 67%;
}

    .couleur{
        color: #515C6F;
    font-size: 12px;
    font-weight: bold;
    }

    .taille{
        color: #515C6F;
        opacity: 0.5;
        font-size: 12px;
        margin-left: 53px;
    }

    .couleur_rpn{
        color: #515C6F;
        font-size: 14px;
    }

    .taille_rpn{
        color: #515C6F;
        font-size: 14px;
    }

    .hr{
        border-bottom: 1px solid lightgrey;
        margin-top: -9px;
        width: 98%;
    }

    .hrs{
        border-left: 1px solid lightgrey;
        margin-top: -9px;
        width: 18%;  
    }
    
    .btn{
        
        width: 88%;
        padding: 15px;
        background: #564D85;
        box-shadow: none;
        display: block;
        margin: 0px auto;
        border-radius: 50px;
        margin-bottom: 10%;
        color: #fff;
        margin-left: 14px;
    }
 
    .prix{
        color: black;
        margin-top: 4px;
    }

    .description{
        color: grey;
        margin-top: -12px;
    }



div.alert-wrapper.sc-ion-alert-md{
    background: white;
}

.info_prd{
    color: black;
    font-size: 11px;
}



.guide_taille{
    font-size: 11px;
    color: black;
    margin-top: 0px;

}

ion-slides {
    height: 100%;
    width: 250px;
  }

  .swiper-slide {
    display: block;
  }

  .titre_slide{
      color: black;
    font-size: 12px;
  }

  .hr_trois{
    border-bottom: 1px solid #727C8E;
    margin: 10px 0;
    margin-left: 15px;
    margin-top: 4px;
    width: 87%;
    opacity: 0.2;
}

.total{
    opacity: 0.5;
    color: #515C6F;
    margin-left: 28px;
    font-size: 10px;
  }

  .livraison_gratuit{
    color: #727C8E;
    margin-left: 28px;
    margin-top: -12px;
    font-size: 9px;
  }

.prix_total{
    margin-left: 28px;
    color: #515C6F;
    font-weight: bold;
    margin-top: -9px;
    font-size: 14px;
}