<ion-header>
  <ion-toolbar>
      <!-- Button back -->
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>PANIER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="detail_vetement">
      <ion-grid>
        <ion-row>
          <ion-col>
           <p class="txt_article"> 1 articles : total <b> 39.99 € </b>  </p> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <img src="../../assets/img/vesteuno.jpg"/>
            <p class="Titre_pr"> Veste</p>
            <p class="descri_pr">ARMAND THIERRY</p>
            <p class="couleur_pr">Gris</p>
            <p class="taille_pr">M</p>
            <p class="prix_pr">39.99€</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="paiement_bloc">
      <button class="btn" type="submit" fill="solid" expand="full" [routerLink]="['/paiement']">COMMANDER</button>  
    </div>

</div>
</ion-content>
