<ion-header>
  <ion-toolbar>
      <!-- Button back -->
      <ion-buttons slot="start">
      </ion-buttons>
      <ion-title>PANIER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main">
    <div class="detail_vetement">
      <ion-grid>
        <ion-row>
          <ion-col>
           <p class="txt_article"> 3 articles : total <b> 50.99 € </b>  </p> 
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="../../assets/img/vesteuno.jpg"/>
          </ion-col>
          <ion-col>
            <p> <b>19.99€</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  
<div class="slide_plus">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="titre_slide"> <b> VOUS AIMEREZ ÉGALEMENT </b> </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides>

        <ion-slide>
            <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

      </ion-slides>
    </ion-row>
  </ion-grid>
</div>

</div>
</ion-content>
