.main{
  background: lightgray;
  height: 100%;
  width: 100%;
  display: table;

  .detail_vetement{
      background: white;
  }

  .detail_produit{
      background: white;
      margin-top: 5px;
  }

  .slide_plus{
      background: white;
      margin-top: 5px;   
  }
}


  .couleur{
      color: #515C6F;
  font-size: 12px;
  font-weight: bold;
  }

  .taille{
      color: #515C6F;
      opacity: 0.5;
      font-size: 12px;
      margin-left: 53px;
  }

  .couleur_rpn{
      color: #515C6F;
      font-size: 14px;
  }

  .taille_rpn{
      color: #515C6F;
      font-size: 14px;
  }

  .hr{
      border-bottom: 1px solid lightgrey;
      margin-top: -9px;
      width: 98%;
  }

  .hrs{
      border-left: 1px solid lightgrey;
      margin-top: -9px;
      width: 18%;  
  }
  
  .btn{
      width: 88%;
      padding: 15px;
      background: linear-gradient(360deg, #5055a0, #5055a0);
      box-shadow: none;
      display: block;
      margin: 0px auto;
      border-radius: 50px;
      margin-bottom: 10%;
      color: #fff;
      margin-left: 14px;
  }

 


.livraison{
  color: black;
  font-size: 11px;
  margin-top: 0px;
}

.guide_taille{
  font-size: 11px;
  color: black;
  margin-top: 0px;

}


ion-toolbar{
  --color: black;
  --background: white;
  text-align: center;
}

ion-title{
  font-size: 14px;
  margin-left: -60px;
}
.txt_article{
  color: grey;
    font-size: 11px;
    margin-left: 82px;
}

.prix {
color: black;
}




.Titre_pr{
  color: #515C6F;
    font-weight: bold;
    position: absolute;
    top: -4%;
    margin-left: 71px;
}

.descri_pr{
  color: #515C6F;
  position: absolute;
  top: 20%;
  margin-left: 72px;
  font-size: 10px;
}

.taille_pr{
  color: #515C6F;
  position: absolute;
  top: 57%;
  margin-left: 73px;
  font-size: 12px;
}
.couleur_pr{
  color: #515C6F;
  position: absolute;
  top: 42%;
  margin-left: 72px;
  font-size: 12px;
}

.prix_pr{
  color: #515C6F;
  position: absolute;
  top: 73%;
  margin-left: 73px;
  font-size: 12px;
  font-weight: bold;
}

 .btn {
  width: 88%;
  padding: 15px;
  background: #564D85;
  --background: #564D85;
  box-shadow: none;
  display: block;
  margin: 0px auto;
  border-radius: 50px;
  margin-bottom: 10%;
  color: #fff;

}

.paiement_bloc{
  background: white;
  margin-top: 209px;
  height: 17%;
}