
<ion-content>
  <div class="main">
    <div class="container">
      <ion-grid>
        <ion-row>
      <img src="../../assets/img/MBM-logo-white.png" class="logo" />
    </ion-row>
    <ion-row>
<p class="panier">Panier</p>
</ion-row>

  <ion-row>
    <div class="background_pr"> <img class="img_produit" src="../../assets/img/pantodos.jpg"> </div>
    <p class="type_pr"> Pantalon Chic</p>
    <p class="taille_pr"> M -</p>
    <p class="couleur_pr"> Gris </p>
    <p class="prix_pr"> 49.00€ </p>
  </ion-row>
  <ion-row>
    <div class="background_prd"> <img class="img_produit" src="../../assets/img/pantodos.jpg"> </div>
    <p class="type_prd"> Pantalon Chic</p>
    <p class="taille_prd"> M -</p>
    <p class="couleur_prd"> Gris </p>
    <p class="prix_prd"> 49.00€ </p>
  </ion-row>
  <ion-row>
    <div class="background_prt"> <img class="img_produit" src="../../assets/img/pantodos.jpg"> </div>
    <p class="type_prt"> Pantalon Chic</p>
    <p class="taille_prt"> M -</p>
    <p class="couleur_prt"> Gris </p>
    <p class="prix_prt"> 49.00€ </p>
  </ion-row>
</ion-grid>

<div class="hr"></div>

 <p class="total"> Total : </p>

<p class="prix_total">89.99€</p>
<p class="livraison">Livraison gratuite</p>

<button class="btn"> Paiment </button>

    </div>
</div>
</ion-content>
<ion-toolbar>
  <ion-tabs color="primary">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home">
        <ion-icon name="home" ></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
  
     
      <ion-tab-button tab="Profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="cart" class="active"></ion-icon>
        <ion-label class="active">Panier</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-toolbar>
