<ion-content>
    <!--<div class="container">
        <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
        <ion-input placeholder="E-mail"></ion-input>
        <ion-input placeholder="Password" type="password"></ion-input>
        <p class="mdp"><a href="#">Mot de passe oublié</a></p>



        <button class="btn" [routerLink]="['/login']">Connexion</button>
        <p class="ou"> Ou </p>
        <div class="hr"> </div>
        <p class="reseaux">Connexion avec les réseaux sociaux</p>
        <ion-icon name="logo-facebook" class="facebook"></ion-icon>
        <ion-icon name="logo-google" class="google"></ion-icon>
        <ion-icon name="logo-twitter" class="twitter"></ion-icon>

    </div>-->
    <div class="container">

        <div class="wrap__img">
            <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
        </div>

        <div class="login__form">
            <!--<ion-input placeholder="E-mail"></ion-input>
            <ion-input placeholder="Password" type="password"></ion-input>-->
            <!--<ion-item>-->
            <!--<ion-label position="stacked">Email</ion-label>-->
            <ion-input placeholder="Email"></ion-input>
            <!--</ion-item>-->
            <!--<ion-item>-->
            <!--<ion-label position="fixed">Password</ion-label>-->
            <ion-input placeholder="Mot de passe" type="password"></ion-input>
            <!--</ion-item>-->
        </div>

        <div class="wrap__btn">
            <!-- #564D85 -->
            <ion-button shape="round" fill="solid" (click)="goToLogin()" expand="block">
                <!--<ion-icon slot="start" name="person"></ion-icon>-->
                Connection
            </ion-button>
            <ion-button shape="round" fill="solid" (click)="goToRegister()" expand="block">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                Facebook
            </ion-button>

        </div>

        <!--
        <p class="reseaux">Connection avec les réseaux sociaux</p>
        <div class="reseau-sociaux">
            <ion-icon name="logo-facebook" class="facebook"></ion-icon>
            <ion-icon name="logo-google" class="google"></ion-icon>
            <ion-icon name="logo-twitter" class="twitter"></ion-icon>
        </div> -->


    </div>
</ion-content>