.img-slides {
    width: 90%;
    height: auto;
    display: block;
    padding: 20px;
}

.container{
    background: linear-gradient(197deg, rgb(116, 91, 185) 0%, rgba(116, 91, 185) 13.5%, rgba(116, 91, 185) 33.33%, rgb(29, 23, 44) 100%) !important;
    height: 100%;
    width: 100%;
    display: table;

}
.arrowback{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 22px;
  }
p {
    display: block;
    padding: 10px;
    font-size: small;
    color: white;
    height: 40px;
    font-family: 'Poppins', sans-serif;

}
ion-input{
    width: 90%;
    padding: 5px;
    background: #07070741;
    font-family: "Poppins";
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    margin-bottom: 10%;
    font-size: 10px;
}
.btn {
    width: 90%;
    padding: 15px;
    background: linear-gradient(360deg, #5055a0, #5055a0);
    font-family: "Poppins";
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    margin-bottom: 10%;
    color: #fff;
}
.hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    margin-left: 80px;
    width: 40%;
  }


.mdp{
    color: white;
    margin-left: 180px;
    font-size: xx-small;
}

.ou {
      color: white;
      margin: -10px;
    margin-left: 130px;
    font-size: xx-small;
}
.reseaux{
    color: white;
    margin: -10px;
    margin-left: 50px;
    font-size: xx-small;
}

.facebook{
    margin-left: 80px;
    margin-right: 40px;
}

.google{
    margin-right: 40px;
}