
<ion-content>
    <div class="wrapper">
        <div class="wrap__img">
            <img src="../../assets/img/logindosimg.jpg" class="img-slides" />
        </div>
        <p class="MBM"> <b> MBM</b></p>
        <p class="txt_MBM"> Shoppez avec plaisir</p>

        <form id="ngForm" class="login__form" (ngSubmit)="doLogin()" method="post">
            <div class="wrapper_item">
                <ion-item>
                    <ion-label class="login__label" position="floating">Email</ion-label>
                    <ion-input class="login__input" [ngModel]="email" type="email" name="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="login__label" position="floating">Mot de Passe</ion-label>
                    <ion-input class="login__input" [ngModel]="password" type="password" name="password"></ion-input>
                </ion-item>
                <!--<p class="mdp__forgot" text-right>Mot de passe oublié?</p>-->
                <a class="mdp__forgot small-text" [routerLink]="['/password-lost']">Mot de passe oublié  ?</a>
            </div>

            <!--shape="round"-->
            <div class="wrapper__btn">
                <button class="btn" type="submit" fill="solid" expand="full" [routerLink]="['/accueil-chic']">SE CONNECTER</button>
                <!--<p class="no__account" text-center>Pas de compte? S'inscrire?</p>-->
                <a class="no__account small-text" [routerLink]="['/register']">Pas de compte? S'inscrire?</a>
                <!--<ion-button expand="full" (click)="registerModal()">Inscription</ion-button>-->
            </div>
        </form>
        
    </div>
</ion-content>