.wrapper {
    // background: linear-gradient(360deg, #5055a0, #5055a0);
    background: white !important;
    min-height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    .wrap__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vw;
        border: 1px solid #ffffff;
        border-radius: 50% 50%;
    }
    .login__form {
        margin: 50px 0 0 0;
        // border: #ffffff 1px solid;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // min-height: 100vw;
        a {
            color: #ffffff;
            font-size: x-small;
            display: block;
            margin-top: 5px;
            // border: solid 1px red;
            // text-align: center;
        }
        .wrapper_item {
            margin-top: -68px;
            // margin: 0 50px 0 0;
            // border: #ffffff 1px solid;
            ion-item {
                width: 80vw;
    /* border: #ffffff 1px solid; */
    --background: !important;
    --color: #ffffff;
    --highlight-background: #ffffff;
    margin-top: 10px;
               
                
            }
            ion-label{
                color: grey;
            }
            ion-input{
                color: black;
            }
            .mdp__forgot {
                color: #564D85;
                text-align: right;
            }
        }
        .wrapper__btn {
            margin-top: 50px;
            // border: #ffffff 1px solid;
            .no__account {
                color: #564D85;
                text-align: center;
            }
            ion-button {
                width: 80vw;
                --background: #564D85;
                --color: #ffffff;
                border: #ffffff;
            }
        }
    }
}

img{
    border: 0;
    width: 111%;
    margin-top: 111px !important;
}

.MBM{
    color: grey;
    margin-top: 75px;
}

.txt_MBM{
    color: grey;
    margin-top: -10px;
}