.main{
    background: linear-gradient(197deg, rgb(116, 91, 185) 0%, rgba(116, 91, 185) 13.5%, rgba(116, 91, 185) 33.33%, rgb(29, 23, 44) 100%) !important;
    height: 100vh;
    width: 100%;
    display: table;
}
.arrowback{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 22px;
  }
.btn {
    width: 90%;
    padding: 15px;
    background: linear-gradient(360deg, #5055a0, #5055a0);
    font-family: "Poppins";
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    margin-bottom: 10%;
    color: #fff;
  }

.coupe{
    width: 100%;
    padding: 2px;
    background: #07070741;
    font-family: "Poppins";
    box-shadow: none;
    display: block;
    margin: 0px auto;
    margin-bottom: 10%;
    font-size: 10px;
}

.img-slides {
    width: 90%;
    height: auto;
    display: block;
    padding: 20px;
}

ion-radio{
    margin-left: 13px;
    margin-right: 13px;
}
.img-style{
    border-radius: 30px;
}

.q_coupe{
    width: 100%;
    padding: 2px;
    background: #07070741;
    font-family: "Poppins";
    box-shadow: none;
    display: block;
    margin: 0px auto;
    margin-bottom: 10%;
    font-size: 10px;
}
.q_top{
    font-size: 11px;
}
.top{
    margin-top: -25px;
    font-size: 14px;    
}

.bas{
    margin-top: 17px;
    font-size: 14px;    
}

.q_taille{
    font-size: 14px;
}

.chemise_tshirt_{
    font-size: 11px;
    margin-top: 0px;
}
ion-select{
    background: white;
    color: black;
    width: 42%;
    font-size: 14px;
    height: 25px;
}

.select-text {
    color: black;
    margin-left: 34px;
}

ion-input{
    width: 90%;
    padding: 5px;
    background: #07070741;
    font-family: "Poppins";
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    margin-bottom: 10%;
    font-size: 10px;
}