<ion-content>
<div class="main">
  <div class="container">

    <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
    <div class="time-line">
      <div class="time-line__wrapper">
          <span class="time-line__span active">1</span>
          <span class="time-line__span_text">Infos personnelles</span>
      </div>
      <hr class="time-line__hr">
      <div class="time-line__wrapper">
          <span class="time-line__span active">2</span>
          <span class="time-line__span_text">Quizz</span>
      </div>
      <hr class="time-line__hr">
      <div class="time-line__wrapper">
          <span class="time-line__span active">3</span>
          <span class="time-line__span_text">Fin</span>
      </div>
  </div>
    <p class="msg_felicitation"> Félicitation </p>
    <p class="msg_success"> Votre compte à bien été créer, veuillez appuyez ci-dessous pour accèder à votre sélection personalisé</p>
    <button class="btn" [routerLink]="['/accueil']">Continuer</button>

  </div>
</div>
</ion-content>
