<ion-content>
  <div class="main">
    <ion-icon name="arrow-back-outline" class="arrowback" (click)='goBack()'></ion-icon>
    <ion-icon name="cart" class="panier" (click)='goCart()'></ion-icon>
    <ion-icon name="menu" class="menu" (click)='openFirst()'></ion-icon>

    

    <div class="container">
    <p class="txt_vestes"> Vestes </p>



<ion-grid>  
  <ion-row>
    <ion-col size="6">
      <img src="../../assets/img/vesteuno.jpg"/>
    </ion-col>
    <ion-col size="6">
      <img src="../../assets/img/vestedos.jpg"/>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="prix"> 30,00 € </p>
  </ion-col>
  <ion-col>
    <p class="prix"> 30,00 € </p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <p class="description"> AT - Veste de costume - Blanc</p>
  </ion-col>
  <ion-col>
    <p class="description"> AT - Veste de costume - Bleu</p>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size="6">
    <img src="../../assets/img/vestetres.jpg"/>

</ion-col>
      <ion-col size="6">
        <img src="../../assets/img/vestequatro.jpg"/>
</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="prix"> 30,00 € </p>
    </ion-col>
    <ion-col>
      <p class="prix"> 30,00 € </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="description"> AT - Veste de costume - Blanc</p>
    </ion-col>
    <ion-col>
      <p class="description"> AT - Veste de costume - Bleu</p>
    </ion-col>
  </ion-row>

<ion-row>
  <ion-col size="6">
    <img src="../../assets/img/vestecinq (1).jpg"/>
  </ion-col>
  <ion-col size="6">
    <img src="../../assets/img/vestecinq (2).jpg"/>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="prix"> 30,00 € </p>
    </ion-col>
    <ion-col>
      <p class="prix"> 30,00 € </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="description"> AT - Veste de costume - Blanc</p>
    </ion-col>
    <ion-col>
      <p class="description"> AT - Veste de costume - Bleu</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <img src="../../assets/img/vestequatro - Copie.jpg"/>
    </ion-col>
    <ion-col size="6">
      <img src="../../assets/img/vesteseis.jpg"/>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="prix"> 30,00 € </p>
      </ion-col>
      <ion-col>
        <p class="prix"> 30,00 € </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="description"> AT - Veste de costume - Blanc</p>
      </ion-col>
      <ion-col>
        <p class="description"> AT - Veste de costume - Bleu</p>
      </ion-col>
    </ion-row>

</ion-grid>


</div>
</div>  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="footer">
    <!-- <ion-title>
      Click to Add Text
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="home" class="active"></ion-icon>
        <ion-label class="active"> Home</ion-label>
      </ion-button>
    </ion-buttons>

   

    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/panier']">
        <ion-icon  slot="end" name="cart" class="card"></ion-icon>
        <ion-label> panier</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title class="profile_tab">
      <ion-buttons>
        <ion-button [routerLink]="['/profil']">
          <ion-icon  name="person" ></ion-icon>
          <ion-label> Profile</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-title>
 
  </ion-toolbar>
</ion-footer>
