<ion-content>
  <div class="main">
    <div class="container">
      <img src="../../assets/img/MBM-logo-white.png" class="logo" />
      <img src="../../assets/img/logo-Zara.jpg" class="PP"/> 
      <p class="name">Mes Campagnes</p>
     
      <div class="hr"></div>
  <ion-grid>
      <div class="background_info">
        <ion-row>
        <p class="email">Campagne 1</p>
      </ion-row>
      <ion-row>
        <p class="email_txt"> Vêtement Sportwear</p>
      </ion-row>
        
      <ion-row>
        <p class="voir" [routerLink]="['/regiep-sportwear']"> Voir </p>
        <p class="modifier_un" [routerLink]="['/regiep-sportwear-modif']" > Modifier </p>
      </ion-row>
      <ion-row>
        <p class="age">Campagne 2</p>
      </ion-row>
      <ion-row>
        <p class="age_txt"> Chic_Jeune</p>
      </ion-row>
      <ion-row>
        <p class="voir"> Voir </p>
        <p class="modifier_un"> Modifier </p>
      </ion-row>
      <ion-row>
        <p class="location">Campagne 3</p>
      </ion-row>
      <ion-row>
        <p class="location_txt"> Casual</p>
      </ion-row>
      <ion-row>
        <p class="voir"> Voir </p>
        <p class="modifier_un"> Modifier </p>
      </ion-row>
      
      </div>
  
    </ion-grid>
  <p class="deconnexion" [routerLink]="['/regie-p-login']"> Deconnexion </p>
    </div>
  </div>
  </ion-content>
 