.wrapper {
    background-color: white;
    min-height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo{
  width: 78px;
    position: absolute;
    left: 69%;
    top: 4%;
}
img{
  margin-bottom: 10px;

}

.chic{
  position: absolute;
  color: white;
  left: 23%;
  top: 25%;
}
.img-slides {
    height: auto;
    display: block;
}

.chic_layout{
    opacity: 0.6;
    height: 150px;
    width: 100%;
}
p{
  color: black;
}
.txt_bonjour{
  color: black;
  margin-top: 36px;
  font-size: 13px;
}
.txt_vestechic {
  margin-top: 0px;
    font-size: 13px;
    margin-left: 13px;
}
.txt_chaussurechic{
  margin-top: 0px;
    margin-left: 45px;
    font-size: 13px;
}
.txt_pantalonchic{
  margin-top: 0px;
  margin-left: 59px;
  font-size: 13px;
}

.descri_veste{
  font-size: 8px;
    margin-top: 0px;
    margin-left: 10px;
    color: grey;
    margin-bottom: 20px;
}

.descri_pantalon{
  
  font-size: 8px;
  margin-top: 0px;
  margin-left: 53px;
  color: grey;

}
.logo{
  color: black;
}
 

.veste{
  width: 45%;
}

.pantalon{
  width: 45%;
  margin-left: 27px;
}
  ion-icon {
    color: #515C6F;
  }

  ion-buttons ion-button ion-icon.panier {
    margin-top: -13px;
    margin-right: 10px;
  }

ion-label.active{
  color: #250A8A;
  margin-left: -2px;
}

ion-icon.active{
  color: #250A8A;
  margin-top: -13px;
}

ion-title ion-buttons ion-button ion-icon {
  margin-top: -13px;
}

ion-label {
  color: grey;
  position: absolute;
  top: 74%;
  font-size: 7px;
}

ion-title.profile_tab{
  margin-left: 53px;
}

  .hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    margin-left: 20px;
    width: 30%;
  }
  .hrs {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 30%;
    margin-left: 75px;
  }

  
  .toolbar-background {
    background-color: rgb(255, 255, 255);
  }

  ion-slides {
    height: 100%;
    width: 250px;
  }

  .swiper-slide {
    display: block;
  }

 .casual{
  color: white;
    position: absolute;
    top: 217%;
 }

 .txt_casual{
  color: white;
  position: absolute;
  top: 224%;
  font-weight: bold;
  font-size: 20PX;
 }

 .decontracter{
  color: white;
  position: absolute;
  top: 305%;
 }

 .txt_decontracter{
  color: white;
  position: absolute;
  top: 312%;
  font-weight: bold;
  font-size: 20PX;

 }

 .street{
  color: white;
  position: absolute;
  top: 385%;
 }

 .txt_street{
  color: white;
  position: absolute;
  top: 392%;
  font-weight: bold;
  font-size: 20PX;
 }
  .swiper-slide img {
 
    pointer-events: none;
  }

.titre_slide{
  color: black;
  font-weight: bold;
}

.descri_slide{
  margin-left: 85px;
    margin-top: 23px;
    color: #250A8A;
    font-size: 12px;
    font-weight: bold;
}

.descri_slide_dos{
  margin-left: 46px;
    margin-top: 23px;
    color: #250A8A;
    font-size: 12px;
    font-weight: bold;
}