<ion-header>
  <ion-toolbar>
      <!-- Button back -->
      <ion-buttons slot="start">
          <ion-back-button defaultHref="landing"></ion-back-button>
      </ion-buttons>
      <ion-title>Accueil_Chic</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="wrapper">
      <div class="wrap__img">
          <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
      </div>
      <img src="../../assets/img/chic_layout.jpeg" class="chic_layout" />
      <p class="txt_chic">Chic</p>
      <p class="txt">Tout vos besoins mode sous un même toit</p>
      <ion-toolbar color="light">
        <ion-segment value="Chic">
          <ion-segment-button value="Chic">
            Chic
          </ion-segment-button>
          <ion-segment-button value="Casual">
            Casual
          </ion-segment-button>
          <ion-segment-button value="Street">
            Street
          </ion-segment-button>
          
        </ion-segment>
      </ion-toolbar>
      <p class="txt_veste"><b>Veste </b> </p>
<a class="viewall" [routerLink]="['/vestes-chic']">Voir tout </a>
<ion-grid>
  <ion-row>
<ion-card [routerLink]="['/veste-chic-produit']">
  <ion-card-content>
    <img src="../../assets/img/vesteuno.jpg"/>
    <ion-card-subtitle>  Veste de costu...</ion-card-subtitle>
    <ion-card-subtitle class="prix"> 19,99€</ion-card-subtitle>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <img src="../../assets/img/vestedos.jpg"/>
    <ion-card-subtitle> Veste de costu...</ion-card-subtitle>
    <ion-card-subtitle class="prix"> 39,99€ </ion-card-subtitle>
  </ion-card-content>
</ion-card>
</ion-row>
<ion-row>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/vestetres.jpg"/>
      <ion-card-subtitle>  Veste de costu...</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 79,99€ </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/vestequatro.jpg"/>
      <ion-card-subtitle> Veste de costu...</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 44,99€ </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  </ion-row>
<ion-row>
  <div class="hr"></div>
  <div class="hrs"></div>
</ion-row>
<p class="txt_pantalon"><b>Pantalon </b> </p>
  <a class="viewall_pantalon" [routerLink]="['/pantalons-chic']">Voir tout </a>
<ion-row>
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/pantonuno.jpg"/>
      <ion-card-subtitle>  Pantalon</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 24,99€ </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      <img src="../../assets/img/pantodos.jpg"/>
      <ion-card-subtitle> Pantalon</ion-card-subtitle>
      <ion-card-subtitle class="prix"> 27,99€ </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-card-content>
        <img src="../../assets/img/pantotres.jpg"/>
        <ion-card-subtitle>  Pantalon</ion-card-subtitle>
        <ion-card-subtitle class="prix"> 40,99€ </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        <img src="../../assets/img/pantoquatro.jpg"/>
        <ion-card-subtitle> Pantalon</ion-card-subtitle>
        <ion-card-subtitle class="prix"> 34,99€ </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    </ion-row>
  <ion-row>
    <div class="hr"></div>
    <div class="hrs"></div>
  </ion-row>

  <p class="txt_chaussure"><b>Chemise </b> </p>
  <a class="viewall_chaussure" [routerLink]="['/chemises-chic']">Voir tout </a>
  <ion-row>
    <ion-card>
      <ion-card-content>
        <img src="../../assets/img/chemiseuno.jpg"/>
        <ion-card-subtitle>  Chemise</ion-card-subtitle>
        <ion-card-subtitle class="prix"> 39,99€ </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        <img src="../../assets/img/chemisedos.jpg"/>
        <ion-card-subtitle> Chemise</ion-card-subtitle>
        <ion-card-subtitle class="prix"> 19,99€ </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <img src="../../assets/img/chemisetres.jpg"/>
          <ion-card-subtitle>  Chemise</ion-card-subtitle>
          <ion-card-subtitle class="prix"> 59,99€ </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-content>
          <img src="../../assets/img/chemisequatro.jpg"/>
          <ion-card-subtitle> Chemise</ion-card-subtitle>
          <ion-card-subtitle class="prix"> 79,99€ </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      </ion-row>



</ion-grid>
    

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="footer">
    <!-- <ion-title>
      Click to Add Text
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="home" class="active"></ion-icon>
        <ion-label class="active"> Home</ion-label>
      </ion-button>
    </ion-buttons>

   

    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/panier']">
        <ion-icon  slot="end" name="cart" class="panier"></ion-icon>
        <ion-label> panier</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title class="profile_tab">
      <ion-buttons>
        <ion-button [routerLink]="['/profil']">
          <ion-icon  name="person" ></ion-icon>
          <ion-label> Profile</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-title>
 
  </ion-toolbar>
</ion-footer>