<ion-header>
  
</ion-header>
<ion-content>
  <div class="wrapper">
    <ion-grid>
      <ion-row>
    <p class="txt_bonjour">BONJOUR ALAIN</p>
    <img src="../../assets/img/MBM-logo-black.png" class="logo" />
    </ion-row>
  <ion-row>
    <img src="../../assets/img/chic_layout.jpeg" />
    <p class="chic"> Votre vestiaire élégant </p>
  </ion-row>
<ion-row>
  <img src="../../assets/img/vestedos.jpg" class="veste"/>
  <img src="../../assets/img/pantalonnueve.jpg" class="pantalon" />
</ion-row>
<ion-row>
  <p class="txt_vestechic"> VESTES CHIC</p>

  <p class="txt_pantalonchic"> PANTALON CHIC</p>

</ion-row>

<ion-row>
  <p class="descri_veste"> Lorem Ipsum classe veste ! </p>
  <p class="descri_pantalon"> Etre à la pointe de la mode ! </p>

</ion-row>

<ion-row>
  <img src="../../assets/img/chemisecinco.jpg" class="veste"/>
  <img src="../../assets/img/chaussure_classe.jpg" class="pantalon" />
</ion-row>

<ion-row> 
  <p class="txt_vestechic"> CHEMISE CHIC</p>

  <p class="txt_chaussurechic"> CHAUSSURE CHIC</p>

</ion-row>

<ion-row>
  <p class="descri_veste"> Lorem Ipsum classe veste ! </p>
  <p class="descri_pantalon"> Etre à la pointe de la mode ! </p>

</ion-row>

<ion-row>
  
      <img src="../../assets/img/Casual.jpg" />
    </ion-row>
<p class="casual">CASUAL</p>
<p class="txt_casual"> Un style adapté à toute les situations </p>
  <ion-row>
    <img src="../../assets/img/bggg.jpg"/>
  </ion-row>
  <p class="decontracter">DÉCONTRACTER</p>
<p class="txt_decontracter"> Un style confort & décontracté </p>
  <ion-row>
    <div class="streetwear_img">
      <img src="../../assets/img/nikejogo.jpg"/>

    </div>
  </ion-row>
  <p class="street">STREETWEAR</p>
<p class="txt_street"> Le style de la rue  </p>
  <ion-row>
    <p class="titre_slide"> Les tendances </p>
    <p class="descri_slide"> Voir plus </p>
  </ion-row>
        <ion-row>
          <ion-slides>
  
            <ion-slide>
              <div class="slide">
                <img src="../../assets/img/joggo.jpg"/>
              </div>
            </ion-slide>
    
            <ion-slide>
              <img src="../../assets/img/pantalonocho.jpg"/>
            </ion-slide>
    
            <ion-slide>
              <img src="../../assets/img/vesteuno.jpg"/>
            </ion-slide>
    
            <ion-slide>
              <img src="../../assets/img/adid.png"/>
            </ion-slide>
  
            <ion-slide>
              <img src="../../assets/img/armand_thierry.png"/>
            </ion-slide>
  
            <ion-slide>
              <img src="../../assets/img/levis.png"/>
            </ion-slide>
    
          </ion-slides>
          </ion-row>

    

<ion-row>
  <p class="titre_slide"> Les marques favorites </p>
  <p class="descri_slide_dos"> Voir plus </p>
</ion-row>
      <ion-row>
        <ion-slides>

          <ion-slide>
            <div class="slide">
              <img src="../../assets/img/devred.png"/>
            </div>
          </ion-slide>
  
          <ion-slide>
            <img src="../../assets/img/hm.png"/>
          </ion-slide>
  
          <ion-slide>
            <img src="../../assets/img/celio.png"/>
          </ion-slide>
  
          <ion-slide>
            <img src="../../assets/img/adid.png"/>
          </ion-slide>

          <ion-slide>
            <img src="../../assets/img/armand_thierry.png"/>
          </ion-slide>

          <ion-slide>
            <img src="../../assets/img/levis.png"/>
          </ion-slide>
  
        </ion-slides>
        </ion-row>
  

</ion-grid>
    
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="footer">
    <!-- <ion-title>
      Click to Add Text
    </ion-title> -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="start" name="home" class="active"></ion-icon>
        <ion-label class="active"> Home</ion-label>
      </ion-button>
    </ion-buttons>

   

    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/panier']">
        <ion-icon  slot="end" name="cart" class="panier"></ion-icon>
        <ion-label> panier</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-title class="profile_tab">
      <ion-buttons>
        <ion-button [routerLink]="['/profil']">
          <ion-icon  name="person" ></ion-icon>
          <ion-label> Profile</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-title>
 
  </ion-toolbar>
</ion-footer>