<!--<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>-->
<ion-app>
    <ion-split-pane contentId="main">
        <ion-menu contentId="main" menuId="first">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Filtre</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item lines="none" (click)="isRemainder === 1 ? isRemainder = 0 : isRemainder = 1">
                        <ion-icon name="folder" slot="start"></ion-icon>
                        Catégorie
                        <ion-icon slot="end" [name]="isRemainder? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                      </ion-item>
                
                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                             menuClose class="sub-menu">
                            Jeans, pantalon
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                             menuClose class="sub-menu">
                            Veste
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                           menuClose class="sub-menu">
                            Polo & T-Shirt
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                            menuClose class="sub-menu">
                            Chemise
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                            menuClose class="sub-menu">
                            Costume
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                             menuClose class="sub-menu">
                            Pull, Sweat & Gilet
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                             menuClose class="sub-menu">
                            Parka & Blouson
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isRemainder" 
                            menuClose class="sub-menu">
                            Accessoires 
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>


                      <ion-item lines="none" (click)="isMarque === 1 ? isMarque = 0 : isMarque = 1">
                        <ion-icon name="pricetags" slot="start"></ion-icon>
                        Marque
                        <ion-icon slot="end" [name]="isMarque? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                      </ion-item>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                            menuClose class="sub-menu">
                            Levis 
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque"
                           menuClose class="sub-menu">
                            Celio
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                             menuClose class="sub-menu">
                            Jules
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                             menuClose class="sub-menu">
                            Armand Thierry
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                            menuClose class="sub-menu">
                            Zara
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                             menuClose class="sub-menu">
                            H&M
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                             menuClose class="sub-menu">
                            Dsquared2
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      <ion-menu-toggle auto-hide="true">
                        <ion-list lines="none">
                          <ion-item menuclose [hidden]="!isMarque" 
                             menuClose class="sub-menu">
                            Kaporal
                          </ion-item>
                        </ion-list>
                      </ion-menu-toggle>

                      


            

                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>