<ion-content>
  <div class="main">
    <div class="container">
      <ion-icon name="arrow-back-outline" class="arrowback" (click)='goBack()'></ion-icon>

      <img src="../../assets/img/MBM-logo-white.png" class="logo" />
      <img src="../../assets/img/logo-Zara.jpg" class="PP"/> 
      <p class="name">Vêtements Sportwear</p>
     
      <div class="hr"></div>
      <ion-grid>
        <div class="background_info">
          <ion-row>
          <p class="email">Age</p>
        </ion-row>
        <ion-row>
          <p class="email_txt"> 18-25</p>
        </ion-row>
          <ion-row>
          <p class="modifier_un"> Modifier </p>
        </ion-row>
        <ion-row>
          <p class="age">Lieu</p>
        </ion-row>
        <ion-row>
          <p class="age_txt"> Paris</p>
        </ion-row>
          <ion-row>
          <p class="modifier_deux"> Modifier </p>
        </ion-row>
        <ion-row>
          <p class="location">Catégorie</p>
        </ion-row>
        <ion-row>
          <p class="location_txt"> Chic</p>
        </ion-row>
          <ion-row>
          <p class="modifier_trois"> Modifier </p>
        </ion-row>
        <ion-row>
          <p class="mdp">Budget</p>
        </ion-row>
        <ion-row>
          <p class="mdp_txt"> 20-45€</p>
        </ion-row>
          <ion-row>
          <p class="modifier_quatre"> Modifier </p>
        </ion-row>
        </div>
    
      </ion-grid>
  <p class="deconnexion" [routerLink]="['/regie-p-login']"> Deconnexion </p>
    </div>
  </div>
  </ion-content>
 