/*================================== MEDIA QUERIES, FOR ONLY DESKTOPS ==============================*/

.container {
  // background: linear-gradient(360deg, #5055a0, #5055a0);
  background: white;
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // justify-content: center;
  align-items: center;
}

.wrap__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 50vw;
  border: 1px solid #ffffff;
  border-radius: 50% 50%;
}



h2 {
  display: block;
  padding-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-align: center;
}

p {
  color: grey;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.connexion{
  font-size: 9px;
  color: grey;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
H2{
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


ion-slides {
  width: 250px;
}

.swiper-slide {
  display: block;
}