.main{
    background: lightgray;
    height: 147vh;
    width: 100%;
    display: table;

    .detail_vetement{
        background: white;
    }

    .detail_produit{
        background: white;
        margin-top: 5px;
    }

    .slide_plus{
        background: white;
        margin-top: 5px;   
    }
}

.arrowback{
    position: absolute;
    top: 5%;
    left: 1%;
    font-size: 22px;
    color: #5055a0;
  }
.image_produit{
    margin-top: 24px;
}
.panier{
    color: #727C8E;
    position: absolute;
    top: 6%;
    left: 92%;
    color: #5055a0;
}

    .couleur{
        color: #515C6F;
    font-size: 12px;
    font-weight: bold;
    }

    .taille{
        color: #515C6F;
        opacity: 0.5;
        font-size: 12px;
        margin-left: 53px;
    }

    .couleur_rpn{
        color: #515C6F;
        font-size: 14px;
    }

    .taille_rpn{
        color: #515C6F;
        font-size: 14px;
    }

    .hr{
        border-bottom: 1px solid lightgrey;
        margin-top: -9px;
        width: 98%;
    }

    .hrs{
        border-left: 1px solid lightgrey;
        margin-top: -9px;
        width: 18%;  
    }
    
    .btn{
        width: 88%;
        padding: 15px;
        background: linear-gradient(360deg, #5055a0, #5055a0);
        box-shadow: none;
        display: block;
        margin: 0px auto;
        border-radius: 50px;
        margin-bottom: 10%;
        color: #fff;
        margin-left: 14px;
    }
 
    .prix{
        color: black;
        margin-top: 4px;
    }

    .description{
        color: grey;
        margin-top: -12px;
    }



div.alert-wrapper.sc-ion-alert-md{
    background: white;
}

.info_prd{
    color: black;
    font-size: 11px;
}

.livraison{
    color: black;
    font-size: 11px;
    margin-top: 0px;
}

.guide_taille{
    font-size: 11px;
    color: black;
    margin-top: 0px;

}

ion-slides {
    height: 100%;
    width: 250px;
  }

  .swiper-slide {
    display: block;
  }

  .titre_slide{
      color: black;
    font-size: 12px;
  }