.main{
    background: linear-gradient(#9C97E5 ,#9C97E5, rgb(190, 172, 236) 33.33%, rgb(189, 170, 238) 30%) !important;
    height: 100%;
    width: 100%;
    display: table;
}
.image_produit{
    margin-top: 20px;
}


.note{
    margin-left: 229px;
    margin-top: 10px;
    background: #9292EA;
    border-radius: 20px;
    color: white;
    width: 18%;
    position: absolute;
}

.note .note_pr {
    margin-left: 28px;
    margin-top: -21px;
    font-size: 14px;
    position: absolute;
}

.taille{
    position: absolute;
    top: 94%;
    color: grey;
}
.description {
    color: grey;
    font-size: 15px;
    top: 84%;
    position: absolute;
}

.prix{
    position: absolute;
    font-weight: bold;
    color: dimgray;
}