
<ion-content>
  <div class="main">
    <div class="detail_vetement">
      <ion-icon name="arrow-back-outline" class="arrowback" (click)='goBack()'></ion-icon>
      <img class="image_produit" src="../../assets/img/vesteuno.jpg"/>
      <ion-icon name="cart" class="panier" (click)='goCart()'></ion-icon>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="prix"><b>39.99€</b></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="description">          Zara - Veste de costume classe            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-select placeholder="COULEUR" class="couleur">
              <ion-select-option value="S">Bleu</ion-select-option>
              <ion-select-option value="M">Rouge</ion-select-option>
              <ion-select-option value="L">Orange</ion-select-option>
              <ion-select-option value="XL">Violet</ion-select-option>
            </ion-select>
            <div class="hrs"></div>
          </ion-col>
        <ion-col size="6">
          <p class="taille">M </p>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button class="btn"(click)='presentAlert()'> AJOUTER AU PANIER </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="detail_produit">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="info_prd">Info produit</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="livraison"> Livraison et retour gratuit. Offre soumise à condition </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="hr"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="guide_taille"> Pourquoi vous ne pouvez pas choisir votre taille ? </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
<div class="slide_plus">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="titre_slide"> <b> VOUS AIMEREZ ÉGALEMENT </b> </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides>

        <ion-slide>
            <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

        <ion-slide>
          <img src="../../assets/img/joggo.jpg" />
        </ion-slide>

      </ion-slides>
    </ion-row>
  </ion-grid>
</div>

</div>
</ion-content>
