<ion-header>
    <ion-toolbar>
        <!-- Button back -->
        <!--<ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>-->
        <ion-title>Landing Page</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">

        <div class="wrap__img">
            <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
        </div>


        <h2>Boutique de vêtements homme personnalisés Bite</h2>

        <div class="wrap__btn">
            <ion-button fill="solid" [routerLink]="['/register']" expand="block">
                <!--<ion-icon slot="start" name="logo-facebook"></ion-icon>-->
                DEMARRER EXPERIENCE
            </ion-button>
            <!-- #564D85 shape="round" -->
            <ion-button fill="solid" [routerLink]="['/login']" expand="block">
                <!--<ion-icon slot="start" name="person"></ion-icon>-->
                Connection
            </ion-button>
        </div>

    </div>
</ion-content>