<ion-header>
    <ion-toolbar>
        <!-- Button back -->
        <!--<ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>-->
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Home Page</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">

        <div class="wrap__img">
            <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
        </div>



    </div>
</ion-content>