
.main{
    background: linear-gradient(197deg, rgb(189, 173, 233) 0%, rgba(189, 173, 233) 13.5%, rgba(189, 173, 233) 33.33%, rgb(29, 23, 44) 100%) !important;
    height: 100%;
    width: 100%;
    display: table;

}



