<ion-header>
    <ion-toolbar>
        <!-- Button back -->
        <ion-buttons slot="start">
            <ion-back-button defaultHref="landing"></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription - Quizz</ion-title>
    </ion-toolbar>
</ion-header>
<!--[scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()"-->
<ion-content>
    <div class="main">
      <ion-icon name="arrow-back-outline" class="arrowback" (click)='goBack()'></ion-icon>
  
      <img src="../../assets/img/MBM-logo-white.png" class="img-slides" />
      <ion-input placeholder="Nom Complet"> </ion-input>
      <ion-input placeholder="E-mail" type="E-mail"> </ion-input>
      <ion-input placeholder="Mot de passe" type="password"> </ion-input>
      <ion-input placeholder="Confirmation mot de passe" type="password"> </ion-input>
  
      <button class="btn" [routerLink]="['/register-trois']">Continuer</button>
  
    </div>
  </ion-content>